<div class="container-fluid align-items-end">
  <div class="row first-chicken-platform align-items-start">
      <!-- Next Stream: Add the round circle for the chicken -->
  </div>
  <div class="row second-platform-div align-items-center">
    <div class="col platform-size platform1"></div>
    <div class="col platform-size platform2"></div>
    <div class="col platform-size platform3"></div>
    <div class="col platform-size platform4"></div>
    <div class="col platform-size platform5"></div>
    <div class="col platform-size platform6"></div>
  </div>
  <div class="row third-waterbody-div align-items-end">
    <div class="waterbody1"></div>
    <div class="waterbody2"></div>
  </div>
  
</div>