<section class="container-fluid align-items-end">
  <!-- Section 1: Player movements and jumps, Instead Audio(mouse click held for longer) -->
  <header class="row first-chicken-platform align-items-start">
      <div class="col chicken-player" (mouseenter)="playerExtendsArm()">Player</div>
      <div [ngClass]="{'chicken-arm': playersArmExtends}"></div>
  </header>
  <!-- Section 2: Platforms and grass, main -->
  <main class="row second-platform-div align-items-center">
    <div class="col platform-size platform1"></div>
    <div class="col platform-size platform2"></div>
    <div class="col platform-size platform3"></div>
    <div class="col platform-size platform4"></div>
    <div class="col platform-size platform5"></div>
    <div class="col platform-size platform6"></div>
  </main>
  <!-- Section 3: Waterbody to be animated -->
  <footer class="row third-waterbody-div align-items-end">
    <div class="waterbody1"></div>
    <div class="waterbody2"></div>
  </footer>
  
</section>